@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;400;500;700&display=swap');

:root {
    --primary: #fe2c55;
    --font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    --header-height: 60px;
    --header-width: 361px;
    --wrapper-width: 1150px;
    --hover-color: rgba(22, 24, 35, 0.03);
    --text-color: #5e5e5e;
    --light-blue-color: #5684AE;
    --dark-blue-color: #0F4C81;
    --light-orange-color: #FFE4C8;
    --dark-orange-color: #F9BE81;
    --calendar-title-color: #E4F6ED;
    --white-color: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    overflow-y: overlay;
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
}

button {
    border: 0px solid transparent;
    background-color: transparent;
    cursor: pointer;
}

.text-format {
    font-family: var(--font-family);
    color: var(--text-color);
    font-weight: 600;
    line-height: 22px;
    font-size: 1.6rem;
}

.dflex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}